---
title: House Cathak
category: The Realm
permalink: /the-realm/great-houses/house-cathak/
---

{% extends "template.njk" %}
{% import "macros.njk" as macros %}

{% block content %}
    <nav class="breadcrumbs" aria-label="Breadcrumbs">
        <ol>
            <li>
                <a href="/the-realm/">The Realm</a>
            </li>
            <li>
                <a href="/the-realm/great-houses/">The Great Houses</a>
            </li>
            <li>
                <b>House Cathak</b>
            </li>
        </ol>
    </nav>

    <h1 id="house-cathak">
        <a href="#house-cathak" class="permalink-anchor float:right">§</a>
        House Cathak
        <!-- <sub-title>The Fire That Marches Against the Tide</sub-title> -->
    </h1>

    <div class="grid">
        <div class="center" data-cols="1">
            <img style="max-height: 200px"
                 eleventy:pictureattr:class="center"
                 src="../../assets/house_mons/cathak.png"
                 alt="House Cathak mon">
        </div>
        <div class="box info" data-cols="2 3">
            <p>
                A powerful military House with a history of producing great
                generals and military icons.
            </p>

            <span class="chip plain">Honor</span>
            <span class="chip plain">Competition</span>
            <span class="chip plain">Faith</span>
            <span class="chip plain">Martial skill</span>
            <span class="chip plain">Loyalty</span>
            <span class="chip plain">Obedience</span>
        </div>
    </div>

    <p>
        In the city of Myion on the Isle's southwest coast, red-haired Cathak soldiers
        march in lockstep through the stony alleyways and flying buttresses. In the
        Fortress of the Greatest General overlooking the city, a commander shouts orders
        and her hundred soldiers obey, lifting red-tasseled spears in a game of war.
    </p>

    <p>
        House Cathak is the Realm's military juggernaut, rivaled only by House Tepet in
        its devotion to the glory of the Imperial Legions. The Cathak families are known
        for their ambition and their martial streak; only a rare Cathak daughter makes
        it through her life without serving in the Legions.
    </p>

    {{ macros.h2("Why play a Cathak?") }}

    <p>
        House Cathak is all about <i>ambition</i>. Cathaks are never satisfied. Play a Cathak
        if you want to hail from a family with a glorious military history, or if you
        want to explore the conflict between your individual ambitions and your loyalty
        to your military and House.
    </p>

    {{ macros.h2("Cathak Culture") }}

    <p>
        Driven by matriarch Cathak Cainan and his family, the Cathak are intensely
        religious, embracing the martial tradition of the Immaculate Order. Pragmatism
        and insight are key traits for surviving a Cathak childhood. House Cathak
        values <b>victory</b> and <b>ambition</b>.
    </p>
    <p>
        The Legions are the beating heart of House Cathak. They value military service
        and public honor above other virtues. They tend to be direct and pious. They
        thrive on competition and do not accept mediocrity.
    </p>

    {{ macros.h2("What do you know?") }}

    Characters from House Cathak have greater awareness of the following
    topics:

    <ol>
        <li>
            You have a broad awareness of politics within the Cathak holdings.
            You can name major Cathak figures and their positions and loyalties. You know
            the names of the Cathak colonial holdings and their relative value to the House.
        </li>
        <li>
            Your childhood lessons included studying command and the art of
            war. You have a functional nkowledge of the Realm's legion and a general idea
            of the Realm's military activity. You can quote the <i>Thousand Correct Actions
            of the Upright Soldier</i> and the Cathak family's political companion, the
            <i>Silken Blade Codex.</i>
        </li>
        <li>
            You grew up studying dueling and weaponry. You know the basic
            military maneuvers and their applications. You know the names and functions of
            all major types of weaponry used in the Realm.
        </li>
        <li>
            You have an instinct for competition. You know the rules of all
            <a href="#">sports and games</a> that are popular on the Isle,
            including physical competition like harpastum and wrestling,
            games like card games and dice games, and so on.
        </li>
    </ol>
{% endblock content %}
