---
title: The Realm
category: The Realm
permalink: /the-realm/
---

{% extends "template.njk" %}
{% import "macros.njk" as macros %}

{% block content %}
    <nav class="breadcrumbs" aria-label="Breadcrumbs">
        <ol>
            <li>
                <b>The Realm</b>
            </li>
        </ol>
    </nav>

    {{ macros.h1("The Realm") }}

    {{ macros.authorsnote("All of the content in 'The Realm' was written to convey to my Dynastic players how they, as children raised in the most privileged households in Creation, would understand the world. It is very biased and makes callous references to things like the Realm's slavery and imperialism. These are meant to reflect the Realm's patterns of thinking, and aren't and shouldn't be taken as an endorsement of this kind of thinking.") }}

    <p>
        The Realm is the mightiest empire in all Creation, an unrivaled beacon of power
        and glory. Ruled in just configuration by the mighty Dragon-Blooded of its Great
        Houses in fealty to the Empress, no other nation can rival the stability and
        power of the Realm.
    </p>

    {{ macros.h2("Social class") }}

    <p>
        The Empress is the supreme authority of the Realm, and mother to all within its
        borders. Her power is uncontestable and absolute; every time a rebellion has
        been raised against her, it has been swiftly crushed and destroyed.
    </p>
    <p>
        Below the Empress are the <i>Dynasty</i>, the ten Great Houses that she has
        elevated to the highest possible status. The Dynasty is ruled by the
        Dragon-Blooded, who have been Chosen by the dragons; their un-Exalted family
        are just below them on the hierarchy. Also included in the Dynasty are the
        various adopted <i>lost eggs</i>, Dragon-Blooded who originated from outside
        the Great Houses, and sometimes the <i>cadet houses</i>, royal Dragon-Blooded
        families from the Threshold tied by marriage to the Dynasty proper.
    </p>
    <p>
        Below the Dynasty is the <i>patriciate</i>, the Realm's administrative class.
        These are the vital functionaries of the Realm who handle the day-to-day work
        of running an empire. When a Prince of the Earth sets a course on her ship, it
        is her patrician officers who direct the crew. When a Prince of the Earth makes
        a decision for her ministry, her patrician executors see that it is carried
        out.
    </p>
    <p>
        Near the bottom of the totem pole are the <i>peasantry</i>, who form the vast
        bulk of the Realm's population. Peasants make a living as workers, farmers,
        tradesfolk, or other such professions. The peasantry are citizens and thus
        provided the protection of law and order, though many never have need of such
        protections.
    </p>
    <p>
        Slaves are the lowest level of society. The Realm forbids the practice of
        hereditary slavery; the child of a slave is always a citizen. Slaves are
        usually foreigners or prisoners of war pressed into service. Many crimes are
        also punishable by slavery. Individuals cannot own slaves; slaves are property
        of society as a whole. The exception are Dynastic families, which are allowed
        to own household slaves exclusively.
    </p>
    <p>
        Outside of society are the <i>dispossessed</i>, the scum of Creation. The
        dispossessed have no rights and are not recognized as human. They are forbidden
        from owning personal property and have no protections under the law.
        Dispossession is the severest punishment the Realm has to hand, reserved only
        for escaped dissidents, tax evaders, and bandits. Enslaving the dipossessed is
        strictly forbidden by law, for doing so elevates them back to humanity.
    </p>

    {{ macros.h2("The government") }}

    <p>The Empress is the supreme authority of the Realm and her word is law.</p>
    <p>
        The Deliberative is the Realm's legislature. The Deliberative is divided into
        two chambers: the Lesser and the Greater. The senators of the Greater Chamber
        are appointed by the Empress to represent the interests of the Great Houses.
        The Lesser Chamber consists of delegates elected by the Greater Chamber, and
        serves to approve the laws passed by the Upper Chamber before sending them to
        the Empress.
    </p>
    <p>
        The Imperial Ministries are tasked with the enforcement and execution of
        Imperial will. Hundreds of ministries and thousands of ministers see to the
        execution of the law and, most importantly, collecting tax revenue.
    </p>
    <p>
        The Magistracy are a special force of officers selected by the Empress herself
        for their incorruptible honor and dutiful execution of the law. Imperial
        Magistrates are tasked with rooting out corruption and solving unsolvable
        crimes that the local constabulary have given up on.
    </p>

    {{ macros.h2("Satrapies") }}

    <p>
        The final element that makes up the Realm are the <i>satrapies</i>, subjugated
        colonial holdings from across the sea. These lesser nations and barbarian lands
        have been subjugated and sworn fealty to the Realm. They pay taxes and tribute
        in the form of resources and people, and in exchange the Realm provides
        protection and culture.
    </p>
    <p>
        Some satrapies, like the southern port city of Chiaroscuro, are so large and
        successful that they are granted significant autonomy. Chiaroscuro itself is
        nearly as large as the Imperial City. Most satrapies, however, are poor and
        struggling, and their conquest by the Realm is a mercy.
    </p>

{% endblock content %}
