{% import "./macros.njk" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Venture | {{ title }}</title>
        <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
        <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
        <script type="text/hyperscript">
        behavior menuToggle
            on click
                toggle the *display of the next <ul />
        end
        </script>
        <style>
        .prevent-selection {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        </style>
    </head>
    <body>
        <div class="sidebar-layout fullscreen">
            {{ macros.sidebar(category) }}
            <div class="padding">
                <main>
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        </div>
    </body>
</html>
